.header,
.header_nav {
  display: flex;
  justify-content: space-between;
}
.header {
  min-height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.header_nav {
  list-style-type: none;
}
.navLink {
  margin-right: 32px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}
.navLink.active {
  color: #5ece7b;
  text-decoration-line: underline;
  text-underline-offset: 30px;
}
.basket {
  display: flex;
  align-items: center;
}
