.categoryName {
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
  display: flex;
  align-items: center;
  border: none;
}
.categoryName option {
  font-weight: 400;
  font-size: 25px;
}
.itemsList {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 103px;
}
